@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  @apply bg-[#0c1324] text-[#dce1fb] m-0 min-h-screen overflow-hidden flex;
}

#root {
  @apply w-full;
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(123, 208, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(123, 208, 255, 0.2);
}
