button{
  width: 100px;
  gap:-1rem;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  
}
input {
  height: 30px;
  width: 300px;
  display: flex;
  margin: 10px;
  padding: 5px;
}